.banner{
    background-color: $white-v2;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transition: all 0.4ms ease-in-out;
    z-index: 1;
    .banner-top-wrapper{
        width: 100%;
        position: absolute;
        top: 11%;
        left: 0%;
        padding: 0rem 2rem;
        .banner-top-heading{
            h1{
                font-size: 16.5rem;
                font-family: $Formula-CondensedBlack;
                font-weight: 400;
                text-align: center;
                line-height: .85;
                text-transform: uppercase;
                color: $white;
                span{
                    color: $white;
                    font-weight: 700;
                }
            }
        }
        .banner-bottom-title{
            width: 50%;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-family: $Formula-CondensedBlack;
            font-weight: 400;
            color: $white;
            font-size: 2rem;
            .red-title{
                color: $white;
                font-weight: 700;
            }
        }
    }
    .banner-image-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 0%;
        height: 60vh;
        img{
            max-width: 700px;
            width: 100%;
            min-height: 467px;
            transition: all 1s ease-in-out;
        }
    }
    .banner-btn-wrapper{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        height: 44.5%;
        max-width: 420px;
        width: 100%;
        .banner-btn-block{
            position: relative;
            width: 100%;
            height: 100%;
            button{
                background: transparent;
                height: 70px;
                width: 70px;
                border-radius: 100px;
                overflow: hidden;
                border: 3px solid transparent;
                outline: none;
                cursor: pointer;
                transition: all 0.4ms ease-in-out;
                &:first-child{
                    position: absolute;
                    bottom: 15%;
                    left: 11%;
                }
                &:nth-child(2){
                    position: absolute;
                    bottom: 36%;
                    left: 15%;
                }
                &:nth-child(3){
                    position: absolute;
                    bottom: 56%;
                    left: 22%;
                }
                &:nth-child(4){
                    position: absolute;
                    bottom: 73%;
                    left: 34%;
                }
                &:nth-child(5){
                    position: absolute;
                    bottom: 88%;
                    left: 48%;
                }
                &:nth-child(6){
                    position: absolute;
                    bottom: 97%;
                    left: 65%;
                }
                img{
                    width: 100%;
                    transition: all 0.4ms ease-in-out;
                }
                &:hover{
                    border: 3px solid #fff;
                    transition-delay: .1s!important;
                    img{
                        scale: 1.1;
                        transition-delay: .1s!important;
                    }
                }
            }
            .active{
                border: 3px solid #fff;
                transition-delay: .1s!important;
            }
        }
       
    }
    .bottom-url{
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        height: 250px;
        width: 262px;
        z-index: 4;
        
        img{
            width: 100%;
            height: 100%;
        }
        .banner-text-wrapper{
            transform-origin: center;
            transform: translateX(-50%) translateY(-50%) rotate(-19deg);
            position: absolute;
            top: 55%;
            left: 48%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h6{
                font-size: clamp(12px,1.6510566763rem,300px);
                line-height: .93;
                letter-spacing: .02em;
                font-family: $Formula-CondensedBlack;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
            }
            .orange-text{
                color: $red-light;
            }
            .red-text{
                margin-top: 5px;
                color: $dark-red;
            }
            
        }
    }
    &.brown{
       &::after{
        content: "";
        background-color: rgb(192, 154, 127);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        animation: circleGrowUp1 1s ease-in forwards;
    }
    .banner-image-wrapper {
        img{
            transform: scale(1.5);
        }
    }
    }
    &.mango{
        &::after{
            content: "";
            background-color: rgb(220, 33, 50);
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width:100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            animation: circleGrowUp2 1s ease-in forwards;
        }
        .banner-image-wrapper {
            img{
                transform: scale(1.5);
            }
        }
    }
    &.pink{
        &::after{
            content: "";
            background-color: rgb(253, 205, 212);
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width:100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            animation: circleGrowUp3 1s ease-in forwards;
        }
        .banner-image-wrapper {
            img{
                transform: scale(1.5);
            }
        }
    }
    &.purple{
        &::after{
            content: "";
            background-color: rgb(159, 76, 135);
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width:100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            animation: circleGrowUp4 1s ease-in forwards;
        }
        .banner-image-wrapper {
            img{
                transform: scale(1.5);
            }
        }
    }
    &.yellow{
        &::after{
            content: "";
            background-color: rgb(249, 219, 0);
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width:100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-50%);
            animation: circleGrowUp5 1s ease-in forwards;
        }
        .banner-image-wrapper {
            img{
                transform: scale(1.5);
            }
        }
    }

}

@keyframes circleGrowUp {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleGrowUp1 {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleGrowUp2 {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleGrowUp3 {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleGrowUp4 {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleGrowUp5 {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 300vw;
      height: 300vw;
    }
  }